input {
  width: 100%;
  height: 250%;
}

.row h1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 100%;
}

h4,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.signup {
  background-color: red;
  color: white;
  width: 100%;
  height: 250%;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: black;
  color: white;
  padding: 15%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-left {
  position: absolute;
  top: 3%;
  left: 3%;
  color: red;
}

.top-right {
  position: absolute;
  top: 3%;
  right: 3%;
}

.hr-line {
  border: 5px solid gray;
}

.container-fluid {
  background-color: black;
  color: white;
}

.container {
  padding: 5%;
}

@media only screen and (max-width: 990px) {
  .input-div {
    width: 100%;
    margin-bottom: 10%;
    margin-left: 6%;
  }

  .row h1 {
    font-size: 3rem;
  }

  .btn-div {
    width: 100%;
    margin-left: 25%;
  }

  .top-left {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .input-div {
    width: 100%;
    margin-bottom: 20%;
  }

  .row h1 {
    font-size: 2rem;
  }

  .btn-div {
    width: 100%;
    margin-left: 12%;
  }

  .top-left {
    display: none;
  }
}
