.form-control {
  width: 100%;
  height: 150%;
}

.row h1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 100%;
}

h4,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

.signup {
  color: white;
  width: 100%;
  height: 150%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: black;
  color: white;
  padding: 15%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-left {
  position: absolute;
  top: 0%;
  left: 1%;
  width: 200px;
  height: 100px;
}

.top-right {
  position: absolute;
  top: 3%;
  right: 3%;
}

.hr-line {
  border: 5px solid gray;
}

.container-fluid {
  background-color: black;
  color: white;
}

.container {
  padding: 5%;
}

td {
  padding: 10px 50px;
  color: white;
}

@media only screen and (max-width: 990px) {
  .input-div {
    width: 100%;
    margin-bottom: 10%;
  }

  .row h1 {
    font-size: 3rem;
  }

  .btn-div {
    width: 100%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .input-div {
    width: 100%;
    margin-bottom: 20%;
  }

  .row h1 {
    font-size: 2rem;
  }

  .btn-div {
    width: 100%;
    margin-left: 10%;
  }

  .top-left {
    display: none;
  }

  .table-borderless td {
    font-size: 0.7rem;
    padding: 3px 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .input-div {
    width: 100%;
    margin-left: 7%;
  }

  .row h1 {
    font-size: 2rem;
  }

  .btn-div {
    width: 100%;
    margin-left: 26%;
  }
}

@media only screen and (max-width: 360px) and (min-width: 400) {
  .input-div {
    width: 100%;
    margin-bottom: 12%;
  }

  .row h1 {
    font-size: 2rem;
  }

  .btn-div {
    font-size: 1rem;
    width: 500px;
    height: 30px;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .top-right {
    width: 80px;
    height: 35px;
  }
}
