.main {
  background-color: #e8e8e8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-line {
  border: 1px solid black;
  margin: 0%;
}

p {
  font-size: 80%;
}

.headings {
  font-size: 100%;
  font-weight: bolder;
}

.box {
  border: 1px solid black;
  padding: 2%;
}

footer .container {
  background-color: BLACK;
  color: aliceblue;
}

.nav {
  color: #e8e8e8;
}

.top-heading {
  font-size: 400%;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
}

.next-heading {
  font-size: 220%;
}

@media only screen and (max-width: 415px) {
    .top-heading {
      font-size: 200%;
    }

    .top-img,
    .top-text{
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
    .top-heading {
      font-size: 180%;
    }

    .top-text{
        font-size: 50%;
    }
}













/* @media only screen and (max-width: 770px) {
  .top-heading {
    font-size: 200%;
  }
  p
 {
    font-size: 30%;
  }

} */

/* @media only screen and (max-width: 770px) {
  p,
  .headings {
    font-size: 30%;
  }
}

@media only screen and (max-width: 450px) {
  p,
  .headings {
    font-size: 20%;
  }
}

@media only screen and (max-width: 450px) {
  .top-heading {
    font-size: 120%;
  }
}

@media only screen and (max-width: 370px) {
  p,
  .headings {
    font-size: 8%;
  }
}

@media only screen and (max-width: 370px) {
  .top-heading {
    font-size: 40%;
  }
} */ */
