p {
  font-size: 80%;
  color: #393e46;
  font-family: "Lato", sans-serif;
}

footer .container {
  background-color: BLACK;
}

footer p {
  color: aliceblue;
}

/* classes */

.container {
  border: 1px solid lightslategray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid black;
  padding: 2%;
}

.nav {
  color: #e8e8e8;
}

.hr-line {
  border: 1px solid black;
  margin: 0%;
}

.headings {
  font-size: 100%;
  font-weight: bolder;
  color: #222831;
  font-family: "Roboto Slab", serif;
}

.top-heading {
  font-size: 400%;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
}

.next-heading {
  font-size: 180%;
  font-family: "Inter", sans-serif;
}

/* Media Queries for Smaller Screen */

@media only screen and (max-width: 768px) {
  .top-heading {
    font-size: 150%;
  }

  .top-img,
  .top-text {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .top-heading {
    font-size: 180%;
  }

  .top-text {
    font-size: 50%;
  }
}

@media only screen and (max-width: 500px) {
  #Elon {
    order: 1;
  }

  #para-2 {
    order: 2;
  }
}
